.book-detail {
  background-color: $wild-sand;
  display: flex;
  height: 100vh;
  justify-content: center;

  .book-box {
    @include shadow(4px 4px 15px 2px $black-shadow);
    align-self: center;
    background-color: $white;
    display: flex;
    padding: 1.5rem;
    width: 56rem;

    .book-box-cover {
      height: 368px;
      width: 261px;
    }

    .book-box-info {
      margin-left: 3rem;
      width: 100%;
      
      .book-box-title {
        border-bottom: 4px solid $earls-green;
        padding-bottom: 1rem;

        h2 {
          font-size: 2em;
          font-weight: bold;
          line-height: 38px;
        }

        span {
          color: $light-gray;
          font-size: 1.5em;
          line-height: 28px;
        }
      }

      .details {
        margin-top: 2.5rem;

        .detail {
          margin-bottom: 2rem;

          p {
            color: $light-gray;
            font-size: 1.25em;
            line-height: 24px;
    
            &.bold {
              color: $black;
              font-weight: bold;
            }
          }
        }
      }

    }
  }
}
