.book-box {
  @include shadow(4px 4px 15px 2px $black-shadow);
  align-self: center;
  background-color: $white;
  display: flex;
  padding: 1.5rem;
  width: 56rem;

  .book-box-images {
    position: relative;

    .book-box-cover {
      height: 368px;
      width: 261px;
    } 

    .book-box-badge {
      height: 7.4rem;
      position: absolute;
      right: -1.4rem;
      top: -1rem;
      transform: rotate(12deg);
      -webkit-transform: rotate(12deg);
      -moz-transform: rotate(12deg);
      -ms-transform: rotate(12deg);
      -o-transform: rotate(12deg);
      width: auto;
    }
  }

  .book-box-info {
    margin-left: 3rem;
    width: 100%;
    
    .book-box-title {
      border-bottom: 4px solid $earls-green;
      margin-bottom: 2.5rem;
      padding-bottom: 1rem;
    }

    .detail {
      margin-bottom: 2rem;
    }
  }
}
