@mixin shadow($property) {
  box-shadow: $property;
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
}

@mixin transform($property) {
  transform: $property;
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
}
