$light-gray: #828282;
$black: #000;
$black-shadow: rgba(0,0,0,0.5);
$earls-green: #BED23C;
$white: #FFF;
$wild-sand: #F4F4F4;
$cerulean: #00ADEE;
$silver-chalice: #A8A8A8;

$roboto: 'Roboto', sans-serif;

$container-width: 890px;