<div class="form-field">
  <label class="label" for="{{ $ctrl.name }}">{{ $ctrl.label }}</label>
  <input ng-class="{'has-error': $ctrl.form[$ctrl.name].$touched && $ctrl.form[$ctrl.name].$invalid}" class="input" type="{{ $ctrl.type }}" name="{{ $ctrl.name }}" ng-model="$ctrl.model" ng-minlength="$ctrl.min" ng-maxlength="$ctrl.max" compare-to="$ctrl.compare" ng-change="$ctrl.update($ctrl.model)" ng-pattern="$ctrl.pattern" required>
  <div ng-messages="$ctrl.form[$ctrl.name].$touched && $ctrl.form[$ctrl.name].$error">
    <span class="span-error" ng-message="required">{{ 'INPUT.REQUIRED' | translate }}</span>
    <span class="span-error" ng-message="email">{{ 'INPUT.EMAIL' | translate }}</span>
    <span class="span-error" ng-message="minlength">{{ 'INPUT.MIN' | translate }} {{ $ctrl.min }}</span>
    <span class="span-error" ng-message="maxlength">{{ 'INPUT.MAX' | translate }} {{ $ctrl.max }}</span>
    <span class="span-error" ng-message="compareTo">{{ 'INPUT.COMPARE' | translate }}</span>
    <span class="span-error" ng-message="pattern">{{ $ctrl.patternText }}</span>
  </div>
</div>
