<div class="container list-container">
  <div class="search-box">
    <input class="input" type="text" id="search" name="search" ng-model="$ctrl.search" ng-change="$ctrl.filterBooks()" placeholder="{{ 'BOOKLIST.SEARCH' | translate }}">
    <div class="icon"></div>
  </div>
  <div class="book-list">
    <wc-card 
      ng-repeat="book in $ctrl.filteredBooks" ui-sref="book({ id: book.id })" title="{{ book.title }}" author="{{ book.author }}" cover="{{ book.image_url || '../../assets/LogoWolox.png' }}" alt="{{ 'BOOKLIST.COVER' | translate }}"></wc-card>
  </div>
</div>
